body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient()
    color(srgb red #333;
    text-align: center;
}

header {
    background-color: aliceblue;
    color:#333
    padding 10px;
}

.product-card {
    background: white
    border-radius 10px;
    padding: 10px;
}

.product-card img{
    width: 100%
    border-radius 10px;
    margin-bottom: 10px;
}

.product-card:hover {
    transform: scale(1.08)
    box-shadow 0 12px 25px rgba(255, 105, 135, 0.4);
}

